<section class="banner _first" id="banner">
  <div class="container banner__container">
    <div class="banner__inner">
      <div class="banner__bg-elements desktop">
        <img src="./assets/images/bannerBgEl.svg" alt="" />
      </div>

      <div class="banner__title-wrapper">
        <p class="banner__subtitle">Первая брендоцентричная платформа</p>

        <div class="banner__title-box">
          <div class="banner__title-row">
            <p class="banner__title tl1">Вы приносите</p>
          </div>
          <div class="banner__title-row">
            <p class="banner__title tl1">идею</p>
            <a href="#" class="banner__qr-box desktop">
              <div class="banner__qr-svg-wrapper">
                <div class="banner__qr-svg-box">
                  <img src="./assets/images/bannerQrSvg.svg" alt="" />
                </div>
              </div>
            </a>
            <p class="banner__title tl1">мы создаем</p>
          </div>
          <div class="banner__title-row">
            <p class="banner__title tl1 banner__title--orange">успешное</p>
            <p class="banner__title tl1">промо</p>
          </div>
        </div>


        <div class="banner__title-img-box banner__title-img-box--left desktop">
          <img src="./assets/images/bannerImgLeft.png" alt="" />
        </div>

        <div class="banner__title-img-box banner__title-img-box--right desktop">
          <img src="./assets/images/bannerImgRight.png" alt="" />
        </div>
      </div>

      <div class="banner__aside-box desktop">
        <div class="banner__asire-img-box">
          <img src="./assets/images/bannerAsideImg.png" alt="" />
        </div>
        <p class="banner__aside-text txt18">
          Повышаем продажи, вовлекая и обучая аудиторию, превращая ее в амбасадоров вашего бренда
        </p>
      </div>

      <div class="banner__billet-box desktop">
        <div class="button-border">
          <p class="button-border__text txt18 txt18_btn">Сбор базы клиентов</p>
        </div>
        <div class="button-border">
          <p class="button-border__text txt18 txt18_btn">Увеличение доли рынка</p>
        </div>
        <div class="button-border">
          <p class="button-border__text txt18 txt18_btn">Мотивация к покупкам</p>
        </div>
      </div>

      <div class="banner__info-wrapper">
        <div class="banner__info-box">
          <a href="#" class="banner__qr-box mobile">
            <div class="banner__qr-svg-wrapper">
              <div class="banner__qr-svg-box">
                <img src="./assets/images/bannerQrSvg.svg" alt="" />
              </div>
            </div>
          </a>
          <div class="banner__title-img-box banner__title-img-box--right mobile">
            <img src="./assets/images/bannerImgRight.png" alt="" />
          </div>
        </div>

        <div class="banner__info-box">
          <div class="banner__title-img-box banner__title-img-box--left mobile">
            <img src="./assets/images/bannerImgLeftMob.png" alt="" />
          </div>

          <a href="#what" class="banner__scroll-btn nav-link">
            <span class="banner__scroll-text txt18">Узнать больше</span>
            <span class="banner__scroll-svg-box">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.2929 24.7071C15.6834 25.0976 16.3166 25.0976 16.7071 24.7071L23.0711 18.3431C23.4616 17.9526 23.4616 17.3195 23.0711 16.9289C22.6805 16.5384 22.0474 16.5384 21.6569 16.9289L16 22.5858L10.3431 16.9289C9.95262 16.5384 9.31946 16.5384 8.92893 16.9289C8.53841 17.3195 8.53841 17.9526 8.92893 18.3431L15.2929 24.7071ZM15 8L15 24H17V8H15Z"
                  fill="#F6B611"
                />
              </svg>
            </span>
          </a>
        </div>
      </div>

    
    </div>
  </div>
</section>



