<section class="cases" id="cases">
  <div class="container cases__container">
    <div class="cases__inner">
      <div class="cases__bg-box">
        <img src="./assets/images/casesBg.svg" alt="" />
      </div>
      <div class="cases__decor-box">
        <img src="./assets/images/casesDecor.svg" alt="" />
      </div>

      <div class="cases__title-wrapper">
        <div class="cases__subtitle button-border">
          <p class="button-border__text txt18 txt18_btn">Кейсы</p>
        </div>

        <div class="cases__title-box">
          <p class="cases__title tl2">наш опыт в создании чекового промо</p>
        </div>
      </div>

      <div class="cases__list-box">
        <ul class="cases__list">
          <li class="cases__item">
            <a href="#" class="cases__item-inner">
              <div class="cases__img-wrapper">
                <div class="cases__img-box">
                  <img src="./assets/images/cases1.webp" alt="" />
                </div>

                <div class="cases__btn-box">
                  <div class="cases__btn">
                    <div class="cases__btn-text-box">
                      <img src="./assets/images/casesText.svg" alt="" />
                    </div>
                    <div class="cases__btn-svg-box">
                      <img src="./assets/images/arrowBtn.svg" alt="" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="cases__info-box">
                <p class="cases__info-title tl4">Наименование продукта</p>
                <p class="cases__desc txt18">
                  От идеи до запуска всего 1 месяц! От вас необходима только идея, все остальное мы берем на себя
                </p>
              </div>
            </a>
          </li>

          <li class="cases__item">
            <a href="#" class="cases__item-inner">
              <div class="cases__img-wrapper">
                <div class="cases__img-box">
                  <img src="./assets/images/cases2.webp" alt="" />
                </div>

                <div class="cases__btn-box">
                  <div class="cases__btn">
                    <div class="cases__btn-text-box">
                      <img src="./assets/images/casesText.svg" alt="" />
                    </div>
                    <div class="cases__btn-svg-box">
                      <img src="./assets/images/arrowBtn.svg" alt="" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="cases__info-box">
                <p class="cases__info-title tl4">Наименование продукта</p>
                <p class="cases__desc txt18">
                  От идеи до запуска всего 1 месяц! От вас необходима только идея, все остальное мы берем на себя
                </p>
              </div>
            </a>
          </li>

          <li class="cases__item">
            <a href="#" class="cases__item-inner">
              <div class="cases__img-wrapper">
                <div class="cases__img-box">
                  <img src="./assets/images/cases3.webp" alt="" />
                </div>

                <div class="cases__btn-box">
                  <div class="cases__btn">
                    <div class="cases__btn-text-box">
                      <img src="./assets/images/casesText.svg" alt="" />
                    </div>
                    <div class="cases__btn-svg-box">
                      <img src="./assets/images/arrowBtn.svg" alt="" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="cases__info-box">
                <p class="cases__info-title tl4">Наименование продукта</p>
                <p class="cases__desc txt18">
                  От идеи до запуска всего 1 месяц! От вас необходима только идея, все остальное мы берем на себя
                </p>
              </div>
            </a>
          </li>

          <li class="cases__item">
            <a href="#" class="cases__item-inner">
              <div class="cases__img-wrapper">
                <div class="cases__img-box">
                  <img src="./assets/images/cases4.webp" alt="" />
                </div>

                <div class="cases__btn-box">
                  <div class="cases__btn">
                    <div class="cases__btn-text-box">
                      <img src="./assets/images/casesText.svg" alt="" />
                    </div>
                    <div class="cases__btn-svg-box">
                      <img src="./assets/images/arrowBtn.svg" alt="" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="cases__info-box">
                <p class="cases__info-title tl4">Наименование продукта</p>
                <p class="cases__desc txt18">
                  От идеи до запуска всего 1 месяц! От вас необходима только идея, все остальное мы берем на себя
                </p>
              </div>
            </a>
          </li>
        </ul>

        <button class="cases__show-more-btn">
          <p class="cases__show-more-btn-text txt18">Cмотреть ещё</p>

          <div class="cases__show-more-btn-svg-box">
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M23.7071 13.2071C24.0976 12.8166 24.0976 12.1834 23.7071 11.7929L17.3431 5.42893C16.9526 5.03841 16.3195 5.03841 15.9289 5.42893C15.5384 5.81946 15.5384 6.45262 15.9289 6.84315L21.5858 12.5L15.9289 18.1569C15.5384 18.5474 15.5384 19.1805 15.9289 19.5711C16.3195 19.9616 16.9526 19.9616 17.3431 19.5711L23.7071 13.2071ZM1 13.5L23 13.5V11.5L1 11.5L1 13.5Z"
                fill="white"
              />
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>
