<section class="demo" id="demo">
  <div class="demo__container container">
    <div class="demo__inner">
      <div class="demo__bg-box">
        <img src="./assets/images/demoText.webp" alt="" />
      </div>

      <div class="demo__content-box">
        <p class="demo__content-text txt18">
          Наша интуитивно понятная платформа позволяет легко создавать, управлять и оптимизировать акции, которые привлекают
          клиентов и увеличивают продажи.
        </p>
        <div class="demo__content-img-box">
          <img class="desktop" src="./assets/images/macBook.webp" alt="" />
          <img class="mobile" src="./assets/images/phone.webp" alt="" />
        </div>
        <div class="demo__content-btn-box">
          <a href="" class="demo__content-btn">
            <div class="demo__content-btn-text-box">
              <img src="./assets/images/demoText.svg" alt="" />
            </div>
            <div class="demo__content-btn-svg-box">
              <img src="./assets/images/whatQr.svg" alt="" />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
