<header class="header">
  <div class="header__container container">
    <div class="header__wrapper">
      <div class="header__inner">
   
          <div class="header__banner container mobile">
            <a href="#banner" class="header__logo-box mobile nav-link">
              <span class="header__logo-text tl4"> Чекомания </span>
            </a>

            <button class="header__burger">
              <div class="header__burger-svg-box inActive">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3 17H21" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                  <path d="M3 12L21 12" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                  <path d="M3 7L21 7" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                  </svg>
              </div>
              <div class="header__burger-svg-box isActive">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18.5 5.5L5.5 18.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M5.5 5.5L18.5 18.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>
            </button>
          </div>

          <div class="header__nav-wrapper container">
            <nav class="header__nav">
              <ul class="header__nav-list">
                <li class="header__nav-item">
                  <a href="#what" class="header__nav-link txt18 nav-link"> Что это такое? </a>
                </li>
                <li class="header__nav-item">
                  <a href="#why" class="header__nav-link txt18 nav-link"> Почему Чекомания </a>
                </li>
                <li class="header__nav-item">
                  <a href="#cases" class="header__nav-link txt18 nav-link"> Кейсы </a>
                </li>
                <li class="header__nav-item">
                  <a href="#tariffs" class="header__nav-link txt18 nav-link"> Тарифы </a>
                </li>
              </ul>

              <a href="#banner" class="header__logo-box desktop nav-link">
                <span class="header__logo-text tl4"> Чекомания </span>
              </a>

              <ul class="header__nav-list">
                <li class="header__nav-item">
                  <a href="#" class="header__nav-link txt18 nav-link"> Отзывы</a>
                </li>
                <li class="header__nav-item">
                  <a href="#questions" class="header__nav-link txt18 nav-link"> Вопрос-ответ </a>
                </li>

                <li class="header__nav-item">
                  <a href="#contacts" class="header__nav-link txt18 nav-link"> Контакты </a>
                </li>

                <li class="header__nav-item desktop">
                  <button class="header__nav-btn button-arr txt18">
                    <p class="button-arr__text">Оставить заявку</p>

                    <div class="button-arr__svg-box">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M23.7071 13.2071C24.0976 12.8166 24.0976 12.1834 23.7071 11.7929L17.3431 5.42893C16.9526 5.03841 16.3195 5.03841 15.9289 5.42893C15.5384 5.81946 15.5384 6.45262 15.9289 6.84315L21.5858 12.5L15.9289 18.1569C15.5384 18.5474 15.5384 19.1805 15.9289 19.5711C16.3195 19.9616 16.9526 19.9616 17.3431 19.5711L23.7071 13.2071ZM1 13.5L23 13.5V11.5L1 11.5L1 13.5Z"
                          fill="white"
                        />
                      </svg>
                    </div>
                  </button>
                </li>
              </ul>
            </nav>

            <div class="header__social mobile">
              <button class="header__nav-btn button-arr txt18">
                <p class="button-arr__text">Оставить заявку</p>

                <div class="button-arr__svg-box">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M23.7071 13.2071C24.0976 12.8166 24.0976 12.1834 23.7071 11.7929L17.3431 5.42893C16.9526 5.03841 16.3195 5.03841 15.9289 5.42893C15.5384 5.81946 15.5384 6.45262 15.9289 6.84315L21.5858 12.5L15.9289 18.1569C15.5384 18.5474 15.5384 19.1805 15.9289 19.5711C16.3195 19.9616 16.9526 19.9616 17.3431 19.5711L23.7071 13.2071ZM1 13.5L23 13.5V11.5L1 11.5L1 13.5Z"
                      fill="white"
                    />
                  </svg>
                </div>
              </button>

              <div class="header__social-list">
                <a class="header__social-tel" href="tel:+79000000000">+7 (900) 000-00-00</a>
                <a class="header__social-mail" href="mailto:+79000000000">checkomania@mail.com</a>
              </div>
            </div>
          </div>
        
      </div>
    </div>
  </div>
</header>
