<section class="partner" id="partner">
  <div class="partner__container container">
    <div class="partner__inner">
      <div class="partner__title-wrapper">
        <div class="partner__title-box">
          <p class="partner__title tl2">Чекомания - ваш лучший партнер</p>
          <p class="partner__title partner__title--indent tl2">в создании чекового промо</p>
        </div>
        <p class="partner__subtitle txt18">
          Мы обеспечиваем масштабный охват, привлекаем внимание клиентов и гарантируем высокую эффективность кампаний.
        </p>
      </div>
      <div class="partner__card-wrapper">
        <div class="partner__card-box partner__card-box--first">
          <div class="partner__card-inner-box">
            <div class="partner__card-box-content-box">
              <p class="partner__card-box-content-title tl4">Просто и быстро</p>
              <div class="partner__card-box-content-billet-box">
                <div class="partner__card-box-content-billet button-border button-border--light">
                  <p class="button-border__text txt18 txt18_btn">Запуск за 1 месяц</p>
                </div>
                <div class="partner__card-box-content-billet button-border button-border--light">
                  <p class="button-border__text txt18 txt18_btn">Любые механики</p>
                </div>
                <div class="partner__card-box-content-billet button-border button-border--light">
                  <p class="button-border__text txt18 txt18_btn">Простая регистрация</p>
                </div>
              </div>
            </div>
            <div class="partner__card-box-btn-box">
              <button class="partner__card-box-btn">
                <div class="partner__card-box-btn-text-box">
                  <img src="./assets/images/whatBtnText.svg" alt="" />
                </div>
                <div class="partner__card-box-btn-svg-box">
                  <img src="./assets/images/arrowBtn.svg" alt="" />
                </div>
              </button>
            </div>
          </div>
        </div>
        <div class="partner__card-box partner__card-box--second">
          <div class="partner__card-inner-box">
            <div class="partner__card-box-content-box">
              <p class="partner__card-box-content-title tl4">Выгодно</p>
              <div class="partner__card-box-content-billet-box">
                <div class="partner__card-box-content-billet button-border button-border--light">
                  <p class="button-border__text txt18 txt18_btn">Высокие KPI</p>
                </div>
                <div class="partner__card-box-content-billet button-border button-border--light">
                  <p class="button-border__text txt18 txt18_btn">Способ обогащения CRM</p>
                </div>
                <div class="partner__card-box-content-billet button-border button-border--light">
                  <p class="button-border__text txt18 txt18_btn">Экономия бюджета на разработку</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="partner__card-box partner__card-box--third">
          <div class="partner__card-inner-box">
            <div class="partner__card-box-content-box">
              <p class="partner__card-box-content-title tl4">Технологично</p>
              <div class="partner__card-box-content-billet-box">
                <div class="partner__card-box-content-billet button-border button-border--light">
                  <p class="button-border__text txt18 txt18_btn">Антифрод система</p>
                </div>
                <div class="partner__card-box-content-billet button-border button-border--light">
                  <p class="button-border__text txt18 txt18_btn">Техническая поддержка</p>
                </div>
                <div class="partner__card-box-content-billet button-border button-border--light">
                  <p class="button-border__text txt18 txt18_btn">Проверка чеков</p>
                </div>
              </div>
              <div class="partner__card-box-content-img-box">
                <img src="./assets/images/partnerCard3min.webp" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
