<section class="questions" id="questions">
  <div class="container questions__container">
    <div class="questions__inner">
      <div class="questions__title-wrapper">
        <div class="questions__subtitle button-border">
          <p class="button-border__text txt18 txt18_btn">Вопросы-ответы</p>
        </div>

        <div class="questions__title-box">
          <p class="questions__title tl2">Ваши вопросы наши ответы</p>
          <p class="questions__desc txt18">
            Мы понимаем, что у вас могут возникнуть вопросы по поводу наших услуг и процессов. Чтобы сделать взаимодействие с нами
            максимально удобным, мы собрали самые популярные вопросы и подготовили на них подробные ответы
          </p>
        </div>

        <div class="questions__title-svg-box">
          <img src="./assets/images/questionsTitleBox.svg" alt="" />
        </div>
      </div>

      <div class="questions__accordion-wrapper">
        <div class="questions__accordion">
          <div class="questions__accordion-item ">
            <div class="questions__accordion-link-box">
              <div class="questions__accordion-link-svg-box">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M27.704 5.62905C27.704 4.89267 27.1071 4.29572 26.3707 4.29572L14.3707 4.29572C13.6343 4.29572 13.0374 4.89267 13.0374 5.62905C13.0374 6.36543 13.6343 6.96238 14.3707 6.96238L25.0374 6.96238L25.0374 17.6291C25.0374 18.3654 25.6343 18.9624 26.3707 18.9624C27.1071 18.9624 27.704 18.3654 27.704 17.6291L27.704 5.62905ZM6.57172 27.3137L27.3135 6.57186L25.4279 4.68624L4.6861 25.428L6.57172 27.3137Z"
                    fill="white"
                  />
                </svg>
              </div>
            </div>
            <div class="questions__accordion-item-inner">
              <div class="questions__accordion-item-header">
                <p class="questions__accordion-title-num">01</p>
                <p class="questions__accordion-title tl5">Как долго занимает разработка чекового промо?</p>
              </div>
              <div class="questions__accordion-item-body">
                <div class="questions__accordion-item-body-content txt18">
                  Наши клиенты получают успешные, высокоэффективные промоакции, которые привлекают внимание, увеличивают продажи и
                  укрепляют лояльность клиентов. Мы гарантируем, что ваши инвестиции в продвижение окупятся с лихвой.
                </div>
              </div>
              <p class="questions__accordion-img-box">
                <img src="./assets/images/questionsImg.webp" alt="" />
              </p>
            </div>
          </div>

          <div class="questions__accordion-item">
            <div class="questions__accordion-link-box">
              <div class="questions__accordion-link-svg-box">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M27.704 5.62905C27.704 4.89267 27.1071 4.29572 26.3707 4.29572L14.3707 4.29572C13.6343 4.29572 13.0374 4.89267 13.0374 5.62905C13.0374 6.36543 13.6343 6.96238 14.3707 6.96238L25.0374 6.96238L25.0374 17.6291C25.0374 18.3654 25.6343 18.9624 26.3707 18.9624C27.1071 18.9624 27.704 18.3654 27.704 17.6291L27.704 5.62905ZM6.57172 27.3137L27.3135 6.57186L25.4279 4.68624L4.6861 25.428L6.57172 27.3137Z"
                    fill="white"
                  />
                </svg>
              </div>
            </div>
            <div class="questions__accordion-item-inner">
              <div class="questions__accordion-item-header">
                <p class="questions__accordion-title-num">02</p>
                <p class="questions__accordion-title tl5">Какие результаты я могу ожидать от сотрудничества с "Чекоманией"?</p>
              </div>
              <div class="questions__accordion-item-body">
                <div class="questions__accordion-item-body-content txt18">
                  Наши клиенты получают успешные, высокоэффективные промоакции, которые привлекают внимание, увеличивают продажи и
                  укрепляют лояльность клиентов. Мы гарантируем, что ваши инвестиции в продвижение окупятся с лихвой. Наши клиенты
                  получают успешные, высокоэффективные промоакции, которые привлекают внимание, увеличивают продажи и укрепляют
                  лояльность клиентов. Мы гарантируем, что ваши инвестиции в продвижение окупятся с лихвой.
                </div>
              </div>
              <p class="questions__accordion-img-box">
                <img src="./assets/images/questionsImg.webp" alt="" />
              </p>
            </div>
          </div>

          <div class="questions__accordion-item">
            <div class="questions__accordion-link-box">
              <div class="questions__accordion-link-svg-box">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M27.704 5.62905C27.704 4.89267 27.1071 4.29572 26.3707 4.29572L14.3707 4.29572C13.6343 4.29572 13.0374 4.89267 13.0374 5.62905C13.0374 6.36543 13.6343 6.96238 14.3707 6.96238L25.0374 6.96238L25.0374 17.6291C25.0374 18.3654 25.6343 18.9624 26.3707 18.9624C27.1071 18.9624 27.704 18.3654 27.704 17.6291L27.704 5.62905ZM6.57172 27.3137L27.3135 6.57186L25.4279 4.68624L4.6861 25.428L6.57172 27.3137Z"
                    fill="white"
                  />
                </svg>
              </div>
            </div>
            <div class="questions__accordion-item-inner">
              <div class="questions__accordion-item-header">
                <p class="questions__accordion-title-num">03</p>
                <p class="questions__accordion-title tl5">Могу ли я внести изменения в концепцию на этапе разработки?</p>
              </div>
              <div class="questions__accordion-item-body">
                <div class="questions__accordion-item-body-content txt18">
                  Наши клиенты получают успешные, высокоэффективные промоакции, которые привлекают внимание, увеличивают продажи и
                  укрепляют лояльность клиентов. Мы гарантируем, что ваши инвестиции в продвижение окупятся с лихвой. Наши клиенты
                  получают успешные, высокоэффективные промоакции, которые привлекают внимание, увеличивают продажи и укрепляют
                  лояльность клиентов. Мы гарантируем, что ваши инвестиции в продвижение окупятся с лихвой. Наши клиенты получают
                  успешные, высокоэффективные промоакции, которые привлекают внимание, увеличивают продажи и укрепляют лояльность
                  клиентов. Мы гарантируем, что ваши инвестиции в продвижение окупятся с лихвой.
                </div>
              </div>
              <p class="questions__accordion-img-box">
                <img src="./assets/images/questionsImg.webp" alt="" />
              </p>
            </div>
          </div>

          <div class="questions__accordion-item">
            <div class="questions__accordion-link-box">
              <div class="questions__accordion-link-svg-box">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M27.704 5.62905C27.704 4.89267 27.1071 4.29572 26.3707 4.29572L14.3707 4.29572C13.6343 4.29572 13.0374 4.89267 13.0374 5.62905C13.0374 6.36543 13.6343 6.96238 14.3707 6.96238L25.0374 6.96238L25.0374 17.6291C25.0374 18.3654 25.6343 18.9624 26.3707 18.9624C27.1071 18.9624 27.704 18.3654 27.704 17.6291L27.704 5.62905ZM6.57172 27.3137L27.3135 6.57186L25.4279 4.68624L4.6861 25.428L6.57172 27.3137Z"
                    fill="white"
                  />
                </svg>
              </div>
            </div>
            <div class="questions__accordion-item-inner">
              <div class="questions__accordion-item-header">
                <p class="questions__accordion-title-num">04</p>
                <p class="questions__accordion-title tl5">Что входит в тариф "Креативный Пакет: Полный Старт"?</p>
              </div>
              <div class="questions__accordion-item-body">
                <div class="questions__accordion-item-body-content txt18">
                  Наши клиенты получают успешные, высокоэффективные промоакции, которые привлекают внимание, увеличивают продажи и
                  укрепляют лояльность клиентов. Мы гарантируем, что ваши инвестиции в продвижение окупятся с лихвой. Наши клиенты
                  получают успешные, высокоэффективные промоакции, которые привлекают внимание, увеличивают продажи и укрепляют
                  лояльность клиентов. Мы гарантируем, что ваши инвестиции в продвижение окупятся с лихвой. Наши клиенты получают
                  успешные, высокоэффективные промоакции, которые привлекают внимание, увеличивают продажи и укрепляют лояльность
                  клиентов. Мы гарантируем, что ваши инвестиции в продвижение окупятся с лихвой. Наши клиенты получают успешные,
                  высокоэффективные промоакции, которые привлекают внимание, увеличивают продажи и укрепляют лояльность клиентов.
                  Мы гарантируем, что ваши инвестиции в продвижение окупятся с лихвой. Наши клиенты получают успешные,
                  высокоэффективные промоакции, которые привлекают внимание, увеличивают продажи и укрепляют лояльность клиентов.
                  Мы гарантируем, что ваши инвестиции в продвижение окупятся с лихвой. Наши клиенты получают успешные,
                  высокоэффективные промоакции, которые привлекают внимание, увеличивают продажи и укрепляют лояльность клиентов.
                  Мы гарантируем, что ваши инвестиции в продвижение окупятся с лихвой.
                </div>
              </div>
              <p class="questions__accordion-img-box">
                <img src="./assets/images/questionsImg.webp" alt="" />
              </p>
            </div>
          </div>

          <div class="questions__accordion-item">
            <div class="questions__accordion-link-box">
              <div class="questions__accordion-link-svg-box">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M27.704 5.62905C27.704 4.89267 27.1071 4.29572 26.3707 4.29572L14.3707 4.29572C13.6343 4.29572 13.0374 4.89267 13.0374 5.62905C13.0374 6.36543 13.6343 6.96238 14.3707 6.96238L25.0374 6.96238L25.0374 17.6291C25.0374 18.3654 25.6343 18.9624 26.3707 18.9624C27.1071 18.9624 27.704 18.3654 27.704 17.6291L27.704 5.62905ZM6.57172 27.3137L27.3135 6.57186L25.4279 4.68624L4.6861 25.428L6.57172 27.3137Z"
                    fill="white"
                  />
                </svg>
              </div>
            </div>
            <div class="questions__accordion-item-inner">
              <div class="questions__accordion-item-header">
                <p class="questions__accordion-title-num">05</p>
                <p class="questions__accordion-title tl5">Как будет выглядеть моё промо?</p>
              </div>
              <div class="questions__accordion-item-body">
                <div class="questions__accordion-item-body-content txt18">
                  Наши клиенты получают успешные, высокоэффективные промоакции, которые привлекают внимание, увеличивают продажи и
                  укрепляют лояльность клиентов. Мы гарантируем, что ваши инвестиции в продвижение окупятся с лихвой.
                </div>
              </div>
              <p class="questions__accordion-img-box">
                <img src="./assets/images/questionsImg.webp" alt="" />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
