<section class="stages" id="stages">
  <div class="stages__container container">
    <div class="stages__inner-box stages__inner-box--desktop">
      <div class="stages__inner-wrapper">
        <div class="stages__inner">
          <div class="stages__title-box">
            <p class="stages__title tl2">
              <span class="stages__title-span stages__title-span--orange">Этапы</span> запуска проекта
            </p>
          </div>

          <div class="stages__content-box">
            <div class="stages__progress-bar-wrapper">
              <div class="stages__progress-bar-num-box stages__progress-bar-start-num-box txt14">
                <p class="stages__progress-bar-num stages__progress-bar-start-num">01</p>
              </div>
              <div class="stages__progress-bar-box">
                <div class="stages__progress-bar-height"></div>
              </div>
              <div class="stages__progress-bar-num-box stages__progress-bar-end-num-box txt14">
                <p class="stages__progress-bar-num stages__progress-bar-end-num">03</p>
              </div>
            </div>

            <div class="stages__stages-wrapper">
              <div class="stages__stages-row stages__stages-row--one">
                <!-- <div class="stages__svg-wrapper stages__svg-wrapper--1 stages__svg-wrapper--opasity">
                <div class="stages__svg-box stages__svg-box--white">
                  <svg width="286" height="167" viewBox="0 0 286 167" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M19 158H214.5C256.016 157.684 268.094 148.588 268.5 115.5C268.5 78.7907 268.5 58.2093 268.5 21.5"
                      stroke="#3D3C3C"
                      stroke-width="2"
                    />
                    <path d="M268.5 14L274.129 23.75H262.871L268.5 14Z" fill="#3D3C3C"  />
                  </svg>
                </div>
                <div class="stages__svg-box stages__svg-box--orange">
                  <svg width="286" height="167" viewBox="0 0 286 167" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M19 158H214.5C256.016 157.684 268.094 148.588 268.5 115.5C268.5 78.7907 268.5 58.2093 268.5 21.5"
                      stroke="#f6b611"
                      stroke-width="2"
                    />
                    <path d="M268.5 14L274.129 23.75H262.871L268.5 14Z" fill="#f6b611" />
                  </svg>
                </div>
              </div> -->

                <div class="stages__stage-box stages__stage-box--1">
                  <div class="stages__stage-content-box">
                    <div class="stages__stage-title-box">
                      <p class="stages__stage-title tl5">Создание идеи</p>
                      <div class="stages__stage-num-box isActive">
                        <p class="stages__stage-num">01</p>
                      </div>
                    </div>

                    <p class="stages__stage-text txt18">На этом этапе мы анализируем вашу ЦА и придумываем креативные идеи</p>
                  </div>
                  <div class="stages__stage-img-box">
                    <img src="./assets/images/stages_1.webp" alt="" />
                  </div>
                </div>

                <div class="stages__svg-wrapper stages__svg-wrapper--2">
                  <div class="stages__svg-box stages__svg-box--white">
                    <svg width="172" height="499" viewBox="0 0 172 499" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="14" cy="15" r="5" fill="#3D3C3C" />

                      <path
                        d="M14 14.5H32C67.4974 14.4496 83.2002 26.8993 85 60V422C83.229 471.449 95.0749 485.69 141.5 484.5H159"
                        stroke="#3D3C3C"
                        stroke-width="2"
                      />

                      <circle cx="159" cy="484" r="5" fill="#3D3C3C" />
                    </svg>
                  </div>
                  <div class="stages__svg-box stages__svg-box--orange">
                    <svg width="172" height="499" viewBox="0 0 172 499" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="14" cy="15" r="5" fill="#f6b611" opacity="0" />

                      <path
                        d="M14 14.5H32C67.4974 14.4496 83.2002 26.8993 85 60V422C83.229 471.449 95.0749 485.69 141.5 484.5H159"
                        stroke="#f6b611"
                        stroke-width="2"
                      />
                      <circle cx="159" cy="484" r="5" fill="#f6b611" opacity="0" />
                    </svg>
                  </div>
                </div>

                <div class="stages__stage-box stages__stage-box--2">
                  <div class="stages__stage-content-box">
                    <div class="stages__stage-title-box">
                      <p class="stages__stage-title tl5">Разработка концепции</p>
                      <div class="stages__stage-num-box">
                        <p class="stages__stage-num">02</p>
                      </div>
                    </div>

                    <p class="stages__stage-text txt18">На этом этапе мы анализируем вашу ЦА и придумываем креативные идеи</p>
                  </div>
                  <div class="stages__stage-img-box">
                    <img src="./assets/images/stages_2.webp" alt="" />
                  </div>
                </div>

                <div class="stages__svg-wrapper stages__svg-wrapper--3">
                  <div class="stages__svg-box stages__svg-box--white">
                    <svg width="385" height="199" viewBox="0 0 385 199" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="12" cy="105" r="5" fill="#3D3C3C" />
                      <path
                        d="M12.0176 104.567V65.5665C11.4032 43.4424 26.8897 19.4463 56.0176 20.0665C150.524 20.0665 183.511 20.0665 278.017 20.0665C303.114 18.7371 323.594 37.5081 322.517 61.5665V136.066C322.795 163.806 331.417 181.305 372.517 179.566"
                        stroke="#3D3C3C"
                        stroke-width="2"
                      />
                      <circle cx="373" cy="180" r="5" fill="#3D3C3C" />
                    </svg>
                  </div>
                  <div class="stages__svg-box stages__svg-box--orange">
                    <svg width="385" height="199" viewBox="0 0 385 199" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="12" cy="105" r="5" fill="#f6b611" opacity="0" />
                      <path
                        d="M12.0176 104.567V65.5665C11.4032 43.4424 26.8897 19.4463 56.0176 20.0665C150.524 20.0665 183.511 20.0665 278.017 20.0665C303.114 18.7371 323.594 37.5081 322.517 61.5665V136.066C322.795 163.806 331.417 181.305 372.517 179.566"
                        stroke="#f6b611"
                        stroke-width="2"
                      />
                      <circle cx="373" cy="180" r="5" fill="#f6b611" opacity="0" />
                    </svg>
                  </div>
                </div>

                <div class="stages__stage-box stages__stage-box--3">
                  <div class="stages__stage-content-box">
                    <div class="stages__stage-title-box">
                      <p class="stages__stage-title tl5">Проработка механики</p>
                      <div class="stages__stage-num-box">
                        <p class="stages__stage-num">03</p>
                      </div>
                    </div>

                    <p class="stages__stage-text txt18">На этом этапе мы анализируем вашу ЦА и придумываем креативные идеи</p>
                  </div>
                  <div class="stages__stage-img-box">
                    <img src="./assets/images/stages_3.webp" alt="" />
                  </div>
                </div>

                <div class="stages__svg-wrapper stages__svg-wrapper--4">
                  <div class="stages__svg-box stages__svg-box--white">
                    <svg width="287" height="145" viewBox="0 0 287 145" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="14" cy="14" r="5" fill="#3D3C3C" />
                      <path
                        d="M14.0001 16L14.0002 78C12.9554 122.325 23.7212 135.055 64 135.5L277 135.5"
                        stroke="#3D3C3C"
                        stroke-width="2"
                      />
                    </svg>
                  </div>
                  <div class="stages__svg-box stages__svg-box--orange">
                    <svg width="287" height="145" viewBox="0 0 287 145" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="14" cy="14" r="5" fill="#f6b611" opacity="0" />
                      <path
                        d="M14.0001 16L14.0002 78C12.9554 122.325 23.7212 135.055 64 135.5L277 135.5"
                        stroke="#f6b611"
                        stroke-width="2"
                      />
                    </svg>
                  </div>
                </div>
              </div>

              <div class="stages__stages-row stages__stages-row--two">
                <div class="stages__svg-wrapper stages__svg-wrapper--1">
                  <div class="stages__svg-box stages__svg-box--white">
                    <svg width="286" height="167" viewBox="0 0 286 167" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M19 158H214.5C256.016 157.684 268.094 148.588 268.5 115.5C268.5 78.7907 268.5 58.2093 268.5 21.5"
                        stroke="#3D3C3C"
                        stroke-width="2"
                      />
                      <path d="M268.5 14L274.129 23.75H262.871L268.5 14Z" fill="#3D3C3C" />
                    </svg>
                  </div>
                  <div class="stages__svg-box stages__svg-box--orange">
                    <svg width="286" height="167" viewBox="0 0 286 167" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        class="stages__svg-path"
                        d="M19 158H214.5C256.016 157.684 268.094 148.588 268.5 115.5C268.5 78.7907 268.5 58.2093 268.5 21.5"
                        stroke="#f6b611"
                        stroke-width="2"
                      />
                      <path class="stages__svg-rect" d="M268.5 14L274.129 23.75H262.871L268.5 14Z" fill="#f6b611" opacity="0" />
                    </svg>
                  </div>
                </div>

                <div class="stages__stage-box stages__stage-box--1">
                  <div class="stages__stage-content-box">
                    <div class="stages__stage-title-box">
                      <p class="stages__stage-title tl5">Подготовка и согласование креативов</p>
                      <div class="stages__stage-num-box">
                        <p class="stages__stage-num">04</p>
                      </div>
                    </div>

                    <p class="stages__stage-text txt18">На этом этапе мы анализируем вашу ЦА и придумываем креативные идеи</p>
                  </div>
                  <div class="stages__stage-img-box">
                    <img src="./assets/images/stages_4.webp" alt="" />
                  </div>
                </div>

                <div class="stages__svg-wrapper stages__svg-wrapper--2">
                  <div class="stages__svg-box stages__svg-box--white">
                    <svg width="172" height="499" viewBox="0 0 172 499" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="14" cy="15" r="5" fill="#3D3C3C" />

                      <path
                        d="M14 14.5H32C67.4974 14.4496 83.2002 26.8993 85 60V422C83.229 471.449 95.0749 485.69 141.5 484.5H159"
                        stroke="#3D3C3C"
                        stroke-width="2"
                      />

                      <circle cx="159" cy="484" r="5" fill="#3D3C3C" />
                    </svg>
                  </div>
                  <div class="stages__svg-box stages__svg-box--orange">
                    <svg width="172" height="499" viewBox="0 0 172 499" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="14" cy="15" r="5" fill="#f6b611" opacity="0" />

                      <path
                        d="M14 14.5H32C67.4974 14.4496 83.2002 26.8993 85 60V422C83.229 471.449 95.0749 485.69 141.5 484.5H159"
                        stroke="#f6b611"
                        stroke-width="2"
                      />
                      <circle cx="159" cy="484" r="5" fill="#f6b611" opacity="0" />
                    </svg>
                  </div>
                </div>

                <div class="stages__stage-box stages__stage-box--2">
                  <div class="stages__stage-content-box">
                    <div class="stages__stage-title-box">
                      <p class="stages__stage-title tl5">Запуск рекламной кампании</p>
                      <div class="stages__stage-num-box">
                        <p class="stages__stage-num">05</p>
                      </div>
                    </div>

                    <p class="stages__stage-text txt18">На этом этапе мы анализируем вашу ЦА и придумываем креативные идеи</p>
                  </div>
                  <div class="stages__stage-img-box">
                    <img src="./assets/images/stages_5.webp" alt="" />
                  </div>
                </div>

                <div class="stages__svg-wrapper stages__svg-wrapper--3">
                  <div class="stages__svg-box stages__svg-box--white">
                    <svg width="385" height="199" viewBox="0 0 385 199" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="12" cy="105" r="5" fill="#3D3C3C" />
                      <path
                        d="M12.0176 104.567V65.5665C11.4032 43.4424 26.8897 19.4463 56.0176 20.0665C150.524 20.0665 183.511 20.0665 278.017 20.0665C303.114 18.7371 323.594 37.5081 322.517 61.5665V136.066C322.795 163.806 331.417 181.305 372.517 179.566"
                        stroke="#3D3C3C"
                        stroke-width="2"
                      />
                      <circle cx="373" cy="180" r="5" fill="#3D3C3C" />
                    </svg>
                  </div>
                  <div class="stages__svg-box stages__svg-box--orange">
                    <svg width="385" height="199" viewBox="0 0 385 199" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="12" cy="105" r="5" fill="#f6b611" opacity="0" />
                      <path
                        d="M12.0176 104.567V65.5665C11.4032 43.4424 26.8897 19.4463 56.0176 20.0665C150.524 20.0665 183.511 20.0665 278.017 20.0665C303.114 18.7371 323.594 37.5081 322.517 61.5665V136.066C322.795 163.806 331.417 181.305 372.517 179.566"
                        stroke="#f6b611"
                        stroke-width="2"
                      />
                      <circle cx="373" cy="180" r="5" fill="#f6b611" opacity="0" />
                    </svg>
                  </div>
                </div>

                <div class="stages__stage-box stages__stage-box--3">
                  <div class="stages__stage-content-box">
                    <div class="stages__stage-title-box">
                      <p class="stages__stage-title tl5">Загрузка и проверка чеков</p>
                      <div class="stages__stage-num-box">
                        <p class="stages__stage-num">06</p>
                      </div>
                    </div>

                    <p class="stages__stage-text txt18">На этом этапе мы анализируем вашу ЦА и придумываем креативные идеи</p>
                  </div>
                  <div class="stages__stage-img-box">
                    <img src="./assets/images/stages_6.webp" alt="" />
                  </div>
                </div>

                <div class="stages__svg-wrapper stages__svg-wrapper--4">
                  <div class="stages__svg-box stages__svg-box--white">
                    <svg width="287" height="145" viewBox="0 0 287 145" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="14" cy="14" r="5" fill="#3D3C3C" />
                      <path
                        d="M14.0001 16L14.0002 78C12.9554 122.325 23.7212 135.055 64 135.5L277 135.5"
                        stroke="#3D3C3C"
                        stroke-width="2"
                      />
                    </svg>
                  </div>
                  <div class="stages__svg-box stages__svg-box--orange">
                    <svg width="287" height="145" viewBox="0 0 287 145" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="14" cy="14" r="5" fill="#f6b611" opacity="0" />
                      <path
                        d="M14.0001 16L14.0002 78C12.9554 122.325 23.7212 135.055 64 135.5L277 135.5"
                        stroke="#f6b611"
                        stroke-width="2"
                      />
                    </svg>
                  </div>
                </div>
              </div>

              <div class="stages__stages-row stages__stages-row--three">
                <div class="stages__svg-wrapper stages__svg-wrapper--1">
                  <div class="stages__svg-box stages__svg-box--white">
                    <svg width="286" height="167" viewBox="0 0 286 167" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M19 158H214.5C256.016 157.684 268.094 148.588 268.5 115.5C268.5 78.7907 268.5 58.2093 268.5 21.5"
                        stroke="#3D3C3C"
                        stroke-width="2"
                      />
                      <path d="M268.5 14L274.129 23.75H262.871L268.5 14Z" fill="#3D3C3C" />
                    </svg>
                  </div>
                  <div class="stages__svg-box stages__svg-box--orange">
                    <svg width="286" height="167" viewBox="0 0 286 167" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        class="stages__svg-path"
                        d="M19 158H214.5C256.016 157.684 268.094 148.588 268.5 115.5C268.5 78.7907 268.5 58.2093 268.5 21.5"
                        stroke="#f6b611"
                        stroke-width="2"
                      />
                      <path class="stages__svg-rect" d="M268.5 14L274.129 23.75H262.871L268.5 14Z" fill="#f6b611" opacity="0" />
                    </svg>
                  </div>
                </div>

                <div class="stages__stage-box stages__stage-box--1">
                  <div class="stages__stage-content-box">
                    <div class="stages__stage-title-box">
                      <p class="stages__stage-title tl5">Аналитика и оптимизация РК</p>
                      <div class="stages__stage-num-box">
                        <p class="stages__stage-num">07</p>
                      </div>
                    </div>

                    <p class="stages__stage-text txt18">На этом этапе мы анализируем вашу ЦА и придумываем креативные идеи</p>
                  </div>
                  <div class="stages__stage-img-box">
                    <img src="./assets/images/stages_7.webp" alt="" />
                  </div>
                </div>

                <div class="stages__svg-wrapper stages__svg-wrapper--2">
                  <div class="stages__svg-box stages__svg-box--white">
                    <svg width="172" height="499" viewBox="0 0 172 499" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="14" cy="15" r="5" fill="#3D3C3C" />

                      <path
                        d="M14 14.5H32C67.4974 14.4496 83.2002 26.8993 85 60V422C83.229 471.449 95.0749 485.69 141.5 484.5H159"
                        stroke="#3D3C3C"
                        stroke-width="2"
                      />

                      <circle cx="159" cy="484" r="5" fill="#3D3C3C" />
                    </svg>
                  </div>
                  <div class="stages__svg-box stages__svg-box--orange">
                    <svg width="172" height="499" viewBox="0 0 172 499" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="14" cy="15" r="5" fill="#f6b611" opacity="0" />

                      <path
                        d="M14 14.5H32C67.4974 14.4496 83.2002 26.8993 85 60V422C83.229 471.449 95.0749 485.69 141.5 484.5H159"
                        stroke="#f6b611"
                        stroke-width="2"
                      />
                      <circle cx="159" cy="484" r="5" fill="#f6b611" opacity="0" />
                    </svg>
                  </div>
                </div>

                <div class="stages__stage-box stages__stage-box--2">
                  <div class="stages__stage-content-box">
                    <div class="stages__stage-title-box">
                      <p class="stages__stage-title tl5">Служба поддержки участников промо</p>
                      <div class="stages__stage-num-box">
                        <p class="stages__stage-num">08</p>
                      </div>
                    </div>

                    <p class="stages__stage-text txt18">На этом этапе мы анализируем вашу ЦА и придумываем креативные идеи</p>
                  </div>
                  <div class="stages__stage-img-box">
                    <img src="./assets/images/stages_8.webp" alt="" />
                  </div>
                </div>

                <div class="stages__svg-wrapper stages__svg-wrapper--3">
                  <div class="stages__svg-box stages__svg-box--white">
                    <svg width="385" height="199" viewBox="0 0 385 199" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="12" cy="105" r="5" fill="#3D3C3C" />
                      <path
                        d="M12.0176 104.567V65.5665C11.4032 43.4424 26.8897 19.4463 56.0176 20.0665C150.524 20.0665 183.511 20.0665 278.017 20.0665C303.114 18.7371 323.594 37.5081 322.517 61.5665V136.066C322.795 163.806 331.417 181.305 372.517 179.566"
                        stroke="#3D3C3C"
                        stroke-width="2"
                      />
                      <circle cx="373" cy="180" r="5" fill="#3D3C3C" />
                    </svg>
                  </div>
                  <div class="stages__svg-box stages__svg-box--orange">
                    <svg width="385" height="199" viewBox="0 0 385 199" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="12" cy="105" r="5" fill="#f6b611" opacity="0" />
                      <path
                        d="M12.0176 104.567V65.5665C11.4032 43.4424 26.8897 19.4463 56.0176 20.0665C150.524 20.0665 183.511 20.0665 278.017 20.0665C303.114 18.7371 323.594 37.5081 322.517 61.5665V136.066C322.795 163.806 331.417 181.305 372.517 179.566"
                        stroke="#f6b611"
                        stroke-width="2"
                      />
                      <circle cx="373" cy="180" r="5" fill="#f6b611" opacity="0" />
                    </svg>
                  </div>
                </div>

                <div class="stages__stage-box stages__stage-box--3">
                  <div class="stages__stage-content-box">
                    <div class="stages__stage-title-box">
                      <p class="stages__stage-title tl5">Награждение победителей</p>
                      <div class="stages__stage-num-box">
                        <p class="stages__stage-num">09</p>
                      </div>
                    </div>

                    <p class="stages__stage-text txt18">На этом этапе мы анализируем вашу ЦА и придумываем креативные идеи</p>
                  </div>
                  <div class="stages__stage-img-box">
                    <img src="./assets/images/stages_9.webp" alt="" />
                  </div>
                </div>

                <div class="stages__svg-wrapper stages__svg-wrapper--4">
                  <div class="stages__svg-box stages__svg-box--white">
                    <svg width="287" height="145" viewBox="0 0 287 145" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="14" cy="14" r="5" fill="#3D3C3C" />
                      <path
                        d="M14.0001 16L14.0002 78C12.9554 122.325 23.7212 135.055 64 135.5L277 135.5"
                        stroke="#3D3C3C"
                        stroke-width="2"
                      />
                    </svg>
                  </div>
                  <div class="stages__svg-box stages__svg-box--orange">
                    <svg width="287" height="145" viewBox="0 0 287 145" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="14" cy="14" r="5" fill="#f6b611" opacity="0" />
                      <path
                        d="M14.0001 16L14.0002 78C12.9554 122.325 23.7212 135.055 64 135.5L277 135.5"
                        stroke="#f6b611"
                        stroke-width="2"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="stages__inner-box stages__inner-box--mob">
      <div class="stages__inner-wrapper">
        <div class="stages__inner">
          <div class="stages__title-box">
            <p class="stages__title tl2">
              <span class="stages__title-span stages__title-span--orange">Этапы</span> запуска проекта
            </p>
          </div>
          <div class="stages__content-box">
            <div class="stages__stages-wrapper">
              <div class="stages__stages-column stages__stages-column--one">
                <div class="stages__stages-column-inner">
                  <div class="stages__stage-box">
                    <div class="stages__stage-content-box">
                      <div class="stages__stage-title-box">
                        <p class="stages__stage-title tl5">Создание идеи</p>
                        <div class="stages__stage-num-box isActive">
                          <p class="stages__stage-num">01</p>
                        </div>
                      </div>

                      <p class="stages__stage-text txt18">На этом этапе мы анализируем вашу ЦА и придумываем креативные идеи</p>
                    </div>
                    <div class="stages__stage-img-box">
                      <img src="./assets/images/stages_1.webp" alt="" />
                    </div>
                  </div>

                  <div class="stages__stage-box">
                    <div class="stages__stage-content-box">
                      <div class="stages__stage-title-box">
                        <p class="stages__stage-title tl5">Разработка концепции</p>
                        <div class="stages__stage-num-box">
                          <p class="stages__stage-num">02</p>
                        </div>
                      </div>

                      <p class="stages__stage-text txt18">На этом этапе мы анализируем вашу ЦА и придумываем креативные идеи</p>
                    </div>
                    <div class="stages__stage-img-box">
                      <img src="./assets/images/stages_2.webp" alt="" />
                    </div>
                  </div>

                  <div class="stages__stage-box">
                    <div class="stages__stage-content-box">
                      <div class="stages__stage-title-box">
                        <p class="stages__stage-title tl5">Проработка механики</p>
                        <div class="stages__stage-num-box">
                          <p class="stages__stage-num">03</p>
                        </div>
                      </div>

                      <p class="stages__stage-text txt18">На этом этапе мы анализируем вашу ЦА и придумываем креативные идеи</p>
                    </div>
                    <div class="stages__stage-img-box">
                      <img src="./assets/images/stages_3.webp" alt="" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="stages__stages-column stages__stages-column--two">
                <div class="stages__stages-column-inner">
                  <div class="stages__stage-box">
                    <div class="stages__stage-content-box">
                      <div class="stages__stage-title-box">
                        <p class="stages__stage-title tl5">Подготовка и согласование креативов</p>
                        <div class="stages__stage-num-box">
                          <p class="stages__stage-num">04</p>
                        </div>
                      </div>

                      <p class="stages__stage-text txt18">На этом этапе мы анализируем вашу ЦА и придумываем креативные идеи</p>
                    </div>
                    <div class="stages__stage-img-box">
                      <img src="./assets/images/stages_4.webp" alt="" />
                    </div>
                  </div>

                  <div class="stages__stage-box">
                    <div class="stages__stage-content-box">
                      <div class="stages__stage-title-box">
                        <p class="stages__stage-title tl5">Запуск рекламной кампании</p>
                        <div class="stages__stage-num-box">
                          <p class="stages__stage-num">05</p>
                        </div>
                      </div>

                      <p class="stages__stage-text txt18">На этом этапе мы анализируем вашу ЦА и придумываем креативные идеи</p>
                    </div>
                    <div class="stages__stage-img-box">
                      <img src="./assets/images/stages_5.webp" alt="" />
                    </div>
                  </div>

                  <div class="stages__stage-box">
                    <div class="stages__stage-content-box">
                      <div class="stages__stage-title-box">
                        <p class="stages__stage-title tl5">Загрузка и проверка чеков</p>
                        <div class="stages__stage-num-box">
                          <p class="stages__stage-num">06</p>
                        </div>
                      </div>

                      <p class="stages__stage-text txt18">На этом этапе мы анализируем вашу ЦА и придумываем креативные идеи</p>
                    </div>
                    <div class="stages__stage-img-box">
                      <img src="./assets/images/stages_6.webp" alt="" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="stages__stages-column stages__stages-column--three">
                <div class="stages__stages-column-inner">
                  <div class="stages__stage-box">
                    <div class="stages__stage-content-box">
                      <div class="stages__stage-title-box">
                        <p class="stages__stage-title tl5">Аналитика и оптимизация РК</p>
                        <div class="stages__stage-num-box">
                          <p class="stages__stage-num">07</p>
                        </div>
                      </div>

                      <p class="stages__stage-text txt18">На этом этапе мы анализируем вашу ЦА и придумываем креативные идеи</p>
                    </div>
                    <div class="stages__stage-img-box">
                      <img src="./assets/images/stages_7.webp" alt="" />
                    </div>
                  </div>

                  <div class="stages__stage-box">
                    <div class="stages__stage-content-box">
                      <div class="stages__stage-title-box">
                        <p class="stages__stage-title tl5">Служба поддержки участников промо</p>
                        <div class="stages__stage-num-box">
                          <p class="stages__stage-num">08</p>
                        </div>
                      </div>

                      <p class="stages__stage-text txt18">На этом этапе мы анализируем вашу ЦА и придумываем креативные идеи</p>
                    </div>
                    <div class="stages__stage-img-box">
                      <img src="./assets/images/stages_8.webp" alt="" />
                    </div>
                  </div>

                  <div class="stages__stage-box">
                    <div class="stages__stage-content-box">
                      <div class="stages__stage-title-box">
                        <p class="stages__stage-title tl5">Награждение победителей</p>
                        <div class="stages__stage-num-box">
                          <p class="stages__stage-num">09</p>
                        </div>
                      </div>

                      <p class="stages__stage-text txt18">На этом этапе мы анализируем вашу ЦА и придумываем креативные идеи</p>
                    </div>
                    <div class="stages__stage-img-box">
                      <img src="./assets/images/stages_9.webp" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="stages__show-more-btn">
              <p class="stages__show-more-btn-text">Cмотреть ещё</p>

              <div class="stages__show-more-btn-svg-box">
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_2018_1051)">
                    <path
                      d="M7.5286 16.3048C7.78895 16.5652 8.21105 16.5652 8.4714 16.3048L12.714 12.0622C12.9744 11.8018 12.9744 11.3797 12.714 11.1194C12.4537 10.859 12.0316 10.859 11.7712 11.1194L8 14.8906L4.22876 11.1194C3.96841 10.859 3.5463 10.859 3.28595 11.1194C3.02561 11.3797 3.02561 11.8018 3.28595 12.0622L7.5286 16.3048ZM7.33333 1.16675L7.33333 15.8334H8.66667L8.66667 1.16675L7.33333 1.16675Z"
                      fill="white"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_2018_1051">
                      <rect width="16" height="16" fill="white" transform="matrix(0 1 -1 0 16 0.5)" />
                    </clipPath>
                  </defs>
                </svg>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
