<section class="tariffs" id="tariffs">
  <div class="container tariffs__container">
    <div class="tariffs__inner-box tariffs__inner-box--desktop">
      <div class="tariffs__inner-wrapper">
        <div class="tariffs__inner">
          <div class="tariffs__title-wrapper">
            <div class="tariffs__title-box">
              <p class="tariffs__title tl2">Сколько это стоит</p>
            </div>

            <div class="tariffs__subtitle button-border">
              <p class="button-border__text txt18 txt18_btn">Тарифы</p>
            </div>
          </div>

          <div class="tariffs__content-box">
            <div class="tariffs__progress-bar-wrapper">
              <div class="tariffs__progress-bar-num-box tariffs__progress-bar-start-num-box txt14">
                <p class="tariffs__progress-bar-num tariffs__progress-bar-start-num">01</p>
              </div>
              <div class="tariffs__progress-bar-box">
                <div class="tariffs__progress-bar-height"></div>
              </div>
              <div class="tariffs__progress-bar-num-box tariffs__progress-bar-end-num-box txt14">
                <p class="tariffs__progress-bar-num tariffs__progress-bar-end-num">03</p>
              </div>
            </div>

            <div class="tariffs__swiper-box">
              <div class="tariffs__swiper">
                <div class="tariffs__swiper-wrapper">
                  <div class="tariffs__tariffs-slide">
                    <div class="tariffs__tariffs-slide-inner">
                      <div class="tariffs__tariffs-slide-content-box">
                        <div class="tariffs__tariffs-slide-content-billet button-border button-border--light">
                          <p class="button-border__text txt18 txt18_btn">Тариф №1</p>
                        </div>
                        <div class="tariffs__tariffs-slide-content-title-box">
                          <p class="tariffs__tariffs-slide-content-title tl3">
                            Креативный. <br />
                            Полный старт
                          </p>
                          <p class="tariffs__tariffs-slide-content-desc txt18">
                            Разработка: креативная концепция акции, дизайн, промо-сайт, рекламно- информационные материалы
                          </p>
                        </div>
                      </div>
                      <div class="tariffs__tariffs-slide-img-wrapper">
                        <div class="tariffs__tariffs-slide-img-info-box">
                          <p class="tariffs__tariffs-slide-img-info-num number">от 1,5</p>
                          <p class="tariffs__tariffs-slide-img-info-text txt18">млн рублей</p>
                          <div class="tariffs__tariffs-slide-img-info-decor">
                            <img src="./assets/images/tariffsDecor.svg" alt="" />
                          </div>
                        </div>
                        <div class="tariffs__tariffs-slide-img-box">
                          <img src="./assets/images/tariffsSlide1.webp" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tariffs__tariffs-slide">
                    <div class="tariffs__tariffs-slide-inner">
                      <div class="tariffs__tariffs-slide-content-box">
                        <div class="tariffs__tariffs-slide-content-billet button-border button-border--light">
                          <p class="button-border__text txt18 txt18_btn">Тариф №2</p>
                        </div>
                        <div class="tariffs__tariffs-slide-content-title-box">
                          <p class="tariffs__tariffs-slide-content-title tl3">
                            Креативный. <br />
                            Полный старт
                          </p>
                          <p class="tariffs__tariffs-slide-content-desc txt18">
                            Разработка: креативная концепция акции, дизайн, промо-сайт, рекламно- информационные материалы
                          </p>
                        </div>
                      </div>
                      <div class="tariffs__tariffs-slide-img-wrapper">
                        <div class="tariffs__tariffs-slide-img-info-box">
                          <p class="tariffs__tariffs-slide-img-info-num number">от 1,5</p>
                          <p class="tariffs__tariffs-slide-img-info-text txt18">млн рублей</p>
                          <div class="tariffs__tariffs-slide-img-info-decor">
                            <img src="./assets/images/tariffsDecor.svg" alt="" />
                          </div>
                        </div>
                        <div class="tariffs__tariffs-slide-img-box">
                          <img src="./assets/images/tariffsSlide1.webp" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tariffs__tariffs-slide">
                    <div class="tariffs__tariffs-slide-inner">
                      <div class="tariffs__tariffs-slide-content-box">
                        <div class="tariffs__tariffs-slide-content-billet button-border button-border--light">
                          <p class="button-border__text txt18 txt18_btn">Тариф №3</p>
                        </div>
                        <div class="tariffs__tariffs-slide-content-title-box">
                          <p class="tariffs__tariffs-slide-content-title tl3">
                            Креативный. <br />
                            Полный старт
                          </p>
                          <p class="tariffs__tariffs-slide-content-desc txt18">
                            Разработка: креативная концепция акции, дизайн, промо-сайт, рекламно- информационные материалы
                          </p>
                        </div>
                      </div>
                      <div class="tariffs__tariffs-slide-img-wrapper">
                        <div class="tariffs__tariffs-slide-img-info-box">
                          <p class="tariffs__tariffs-slide-img-info-num number">от 1,5</p>
                          <p class="tariffs__tariffs-slide-img-info-text txt18">млн рублей</p>
                          <div class="tariffs__tariffs-slide-img-info-decor">
                            <img src="./assets/images/tariffsDecor.svg" alt="" />
                          </div>
                        </div>
                        <div class="tariffs__tariffs-slide-img-box">
                          <img src="./assets/images/tariffsSlide1.webp" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tariffs__tariffs-slide">
                    <div class="tariffs__tariffs-slide-inner">
                      <div class="tariffs__tariffs-slide-content-box">
                        <div class="tariffs__tariffs-slide-content-billet button-border button-border--light">
                          <p class="button-border__text txt18 txt18_btn">Тариф №3</p>
                        </div>
                        <div class="tariffs__tariffs-slide-content-title-box">
                          <p class="tariffs__tariffs-slide-content-title tl3">
                            Креативный. <br />
                            Полный старт
                          </p>
                          <p class="tariffs__tariffs-slide-content-desc txt18">
                            Разработка: креативная концепция акции, дизайн, промо-сайт, рекламно- информационные материалы
                          </p>
                        </div>
                      </div>
                      <div class="tariffs__tariffs-slide-img-wrapper">
                        <div class="tariffs__tariffs-slide-img-info-box">
                          <p class="tariffs__tariffs-slide-img-info-num number">от 1,5</p>
                          <p class="tariffs__tariffs-slide-img-info-text txt18">млн рублей</p>
                          <div class="tariffs__tariffs-slide-img-info-decor">
                            <img src="./assets/images/tariffsDecor.svg" alt="" />
                          </div>
                        </div>
                        <div class="tariffs__tariffs-slide-img-box">
                          <img src="./assets/images/tariffsSlide1.webp" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tariffs__inner-box tariffs__inner-box--mob">
      <div class="tariffs__inner-wrapper">
        <div class="tariffs__inner">
          <div class="tariffs__title-wrapper">
            <div class="tariffs__title-box">
              <p class="tariffs__title tl2">Сколько это стоит</p>
            </div>

            <div class="tariffs__subtitle button-border">
              <p class="button-border__text txt18 txt18_btn">Тарифы</p>
            </div>
          </div>

          <div class="tariffs__content-box">
            <div class="tariffs__progress-bar-wrapper">
              <div class="tariffs__progress-bar-num-box tariffs__progress-bar-start-num-box txt14">
                <p class="tariffs__progress-bar-num tariffs__progress-bar-start-num">01</p>
              </div>
              <div class="tariffs__progress-bar-box">
                <div class="tariffs__progress-bar-height"></div>
              </div>
              <div class="tariffs__progress-bar-num-box tariffs__progress-bar-end-num-box txt14">
                <p class="tariffs__progress-bar-num tariffs__progress-bar-end-num">03</p>
              </div>
            </div>

            <div class="tariffs__swiper-box">
              <div class="tariffs__swiper swiper">
                <div class="tariffs__swiper-wrapper swiper-wrapper">
                  <div class="tariffs__tariffs-slide swiper-slide">
                    <div class="tariffs__tariffs-slide-inner">
                      <div class="tariffs__tariffs-slide-content-box">
                        <div class="tariffs__tariffs-slide-content-billet button-border button-border--light">
                          <p class="button-border__text txt18 txt18_btn">Тариф №1</p>
                        </div>
                        <div class="tariffs__tariffs-slide-content-title-box">
                          <p class="tariffs__tariffs-slide-content-title tl3">
                            Креативный. <br />
                            Полный старт
                          </p>
                          <p class="tariffs__tariffs-slide-content-desc txt18">
                            Разработка: креативная концепция акции, дизайн, промо-сайт, рекламно- информационные материалы
                          </p>
                        </div>
                      </div>
                      <div class="tariffs__tariffs-slide-img-wrapper">
                        <div class="tariffs__tariffs-slide-img-info-box">
                          <p class="tariffs__tariffs-slide-img-info-num number">от 1,5</p>
                          <p class="tariffs__tariffs-slide-img-info-text txt18">млн рублей</p>
                          <div class="tariffs__tariffs-slide-img-info-decor">
                            <img src="./assets/images/tariffsDecor.svg" alt="" />
                          </div>
                        </div>
                        <div class="tariffs__tariffs-slide-img-box">
                          <img src="./assets/images/tariffsSlide1.webp" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tariffs__tariffs-slide swiper-slide">
                    <div class="tariffs__tariffs-slide-inner">
                      <div class="tariffs__tariffs-slide-content-box">
                        <div class="tariffs__tariffs-slide-content-billet button-border button-border--light">
                          <p class="button-border__text txt18 txt18_btn">Тариф №2</p>
                        </div>
                        <div class="tariffs__tariffs-slide-content-title-box">
                          <p class="tariffs__tariffs-slide-content-title tl3">
                            Креативный. <br />
                            Полный старт
                          </p>
                          <p class="tariffs__tariffs-slide-content-desc txt18">
                            Разработка: креативная концепция акции, дизайн, промо-сайт, рекламно- информационные материалы
                          </p>
                        </div>
                      </div>
                      <div class="tariffs__tariffs-slide-img-wrapper">
                        <div class="tariffs__tariffs-slide-img-info-box">
                          <p class="tariffs__tariffs-slide-img-info-num number">от 1,5</p>
                          <p class="tariffs__tariffs-slide-img-info-text txt18">млн рублей</p>
                          <div class="tariffs__tariffs-slide-img-info-decor">
                            <img src="./assets/images/tariffsDecor.svg" alt="" />
                          </div>
                        </div>
                        <div class="tariffs__tariffs-slide-img-box">
                          <img src="./assets/images/tariffsSlide1.webp" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tariffs__tariffs-slide swiper-slide">
                    <div class="tariffs__tariffs-slide-inner">
                      <div class="tariffs__tariffs-slide-content-box">
                        <div class="tariffs__tariffs-slide-content-billet button-border button-border--light">
                          <p class="button-border__text txt18 txt18_btn">Тариф №3</p>
                        </div>
                        <div class="tariffs__tariffs-slide-content-title-box">
                          <p class="tariffs__tariffs-slide-content-title tl3">
                            Креативный. <br />
                            Полный старт
                          </p>
                          <p class="tariffs__tariffs-slide-content-desc txt18">
                            Разработка: креативная концепция акции, дизайн, промо-сайт, рекламно- информационные материалы
                          </p>
                        </div>
                      </div>
                      <div class="tariffs__tariffs-slide-img-wrapper">
                        <div class="tariffs__tariffs-slide-img-info-box">
                          <p class="tariffs__tariffs-slide-img-info-num number">от 1,5</p>
                          <p class="tariffs__tariffs-slide-img-info-text txt18">млн рублей</p>
                          <div class="tariffs__tariffs-slide-img-info-decor">
                            <img src="./assets/images/tariffsDecor.svg" alt="" />
                          </div>
                        </div>
                        <div class="tariffs__tariffs-slide-img-box">
                          <img src="./assets/images/tariffsSlide1.webp" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tariffs__tariffs-slide swiper-slide">
                    <div class="tariffs__tariffs-slide-inner">
                      <div class="tariffs__tariffs-slide-content-box">
                        <div class="tariffs__tariffs-slide-content-billet button-border button-border--light">
                          <p class="button-border__text txt18 txt18_btn">Тариф №4</p>
                        </div>
                        <div class="tariffs__tariffs-slide-content-title-box">
                          <p class="tariffs__tariffs-slide-content-title tl3">
                            Креативный. <br />
                            Полный старт
                          </p>
                          <p class="tariffs__tariffs-slide-content-desc txt18">
                            Разработка: креативная концепция акции, дизайн, промо-сайт, рекламно- информационные материалы
                          </p>
                        </div>
                      </div>
                      <div class="tariffs__tariffs-slide-img-wrapper">
                        <div class="tariffs__tariffs-slide-img-info-box">
                          <p class="tariffs__tariffs-slide-img-info-num number">от 1,5</p>
                          <p class="tariffs__tariffs-slide-img-info-text txt18">млн рублей</p>
                          <div class="tariffs__tariffs-slide-img-info-decor">
                            <img src="./assets/images/tariffsDecor.svg" alt="" />
                          </div>
                        </div>
                        <div class="tariffs__tariffs-slide-img-box">
                          <img src="./assets/images/tariffsSlide1.webp" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
