<section class="what" id="what">
  <div class="what__container container">
    <div class="what__inner">
      <div class="what__title-wrapper">
        <div class="what__subtitle button-border button-border--dark">
          <p class="button-border__text txt18 txt18_btn">Что это такое?</p>
        </div>

        <div class="what__title-box">
          <p class="what__title tl2">
            отличный <span class="what__title-span what__title-span--violet">инструмент</span> для создания базы лояльных
            покупателей
          </p>
        </div>
      </div>

      <div class="what__content-wrapper">
        <div class="what__content-btn-box">
          <button class="what__content-btn">
            <div class="what__content-btn-text-box">
                <img src="./assets/images/whatBtnText.svg" alt="">
            </div>
            <div class="what__content-btn-svg-box">
                <img src="./assets/images/whatQr.svg" alt="">
            </div>
          </button>
        </div>
        <div class="what__content-box">
          <div class="what__content-text-box">
            <p class="what__content-text txt18">
              Чековое промо - это маркетинговый инструмент для проведения акций, в ходе которых покупатели загружают, регистрируют
              промокоды, применяют купоны на скидки, получают бонусы, кэшбэки и призы.
            </p>
            <p class="what__content-text txt18">
              Это отличный инструмент для создания базы лояльных покупателей или обогащения уже существующей базы, а также удобен
              для построения собственной DTC - стратегии взаимодействия с конечными потребителями
            </p>
          </div>

          <div class="what__content-billet-box">
            <div class="what__content-billet button-border button-border--light">
              <p class="button-border__text txt18 txt18_btn">Сбор базы клиентов</p>
            </div>
            <div class="what__content-billet button-border button-border--light">
              <p class="button-border__text txt18 txt18_btn">Ускорение продвижения новой продукции</p>
            </div>
            <div class="what__content-billet button-border button-border--light">
              <p class="button-border__text txt18 txt18_btn">Повышение лояльности покупателей</p>
            </div>
            <div class="what__content-billet button-border button-border--light">
              <p class="button-border__text txt18 txt18_btn">Мотивация к покупкам</p>
            </div>
            <div class="what__content-billet button-border button-border--light">
              <p class="button-border__text txt18 txt18_btn">Увеличение доли рынка</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
