<section class="why" id="why">
  <div class="why__container container">
    <div class="why__inner">
      <div class="why__title-wrapper">
        <div class="why__subtitle button-border">
          <p class="button-border__text txt18 txt18_btn">Почему Чекомания</p>
        </div>

        <div class="why__title-box">
          <p class="why__title tl2">успешное чековое промо - от идеи до результата</p>
        </div>
      </div>

      <div class="why__content-wrapper">
        <div class="why__text-box">
          <p class="why__text txt18">
            Чекомания специализируется на создании и управлении чековыми промоакциями, помогая брендам и ритейлерам повышать
            лояльность клиентов и стимулировать продажи.
          </p>
          <p class="why__text txt18">
            Наши основные принципы — креативность, точность и клиентоориентированность. Мы стремимся создавать такие решения,
            которые не только привлекают внимание потребителей, но и приносят реальную выгоду нашим клиентам.
          </p>
        </div>

        <div class="why__info-box">
          <div class="why__info-block why__info-block--first">
            <div class="why__info-inner">
              <p class="why__info-num number">< 13 млн</p>
              <p class="why__info-text txt20">Загруженных акционных чеков со всех проведенных промо</p>
            </div>
          </div>
          <div class="why__info-block why__info-block--img-top desktop">
            <div class="why__info-img-box">
              <img src="./assets/images/why1.png" alt="" />
            </div>
          </div>
          <div class="why__info-block why__info-block--img-bottom desktop">
            <div class="why__info-img-box">
              <img src="./assets/images/why2.png" alt="" />
            </div>
          </div>
          <div class="why__info-block why__info-block--second">
            <div class="why__info-inner">
              <p class="why__info-num number">500+</p>
              <p class="why__info-text txt20">Запущенных промо акций за последние 12 месяцев</p>
            </div>
          </div>
          <div class="why__info-block why__info-block--third">
            <div class="why__info-inner">
              <p class="why__info-num number">< 38 млн</p>
              <p class="why__info-text txt20">Сумма призового фонда со всех чековых промо</p>
            </div>
          </div>
        </div>

        <div class="why__bg desktop">
          <img src="./assets/images/whyBg.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
