@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Brotesk(Trial)';
  src: url('./assets/fonts/Brotesk(Trial)-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
